.fondo-footer {
  background-color: #4b4124;
  color: #ffffff;
  padding: 20px;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.txt-formularios-nom {
  color: #fff;
  font-family: Jamie Woods;
  font-size: 28px;
}

.button-formulario {
  margin-top: 5px;
  color: #282724;
  background-color: #a09c8e;
  text-align: center;
  font-family: Atlane;
  font-size: 24px;
}
.contacto {
  padding-block: 5%;
}
.TC {
  font-family: Atlane;
  font-size: 28px;
}

.num1 {
  font-family: Jamie Woods;
  font-size: 28px;
}

.num2 {
  font-family: Jamie Woods;
  font-size: 28px;
}

.correo {
  font-family: Jamie Woods;
  font-size: 28px;
}

.direccion {
  padding-block: 5%;
}

.dn {
  font-family: Atlane;
  font-size: 28px;
}

.dire {
  font-family: Jamie Woods;
  font-size: 28px;
}

/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .fondo-footer {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1096px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .column {
    flex: none;
    width: 100%;
    max-width: none;
  }

  .rsi {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }

  .rst {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }

  .rsf {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .fondo-footer {
    width: 213.3%;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .column {
    flex: none;
    width: 100%;
    max-width: none;
  }

  .rsi {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }

  .rst {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }

  .rsf {
    text-align: justify;
    font-family: Jamie Woods;
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) {
  .swal2-container {
    width: 375%;
    max-width: 110%;
    margin-left: -5%;
    color: #4b4124;
    text-align: center;
    font-family: Jamie Woods;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
